header.header
    .container
        .header__content
            .header__wrapper
             .header__logo
                img.social_link1(src='assets/img/icons/funweather.png')
             .header__toggle
                label(for='toggle') &#x2630;
            nav.nav
                input#toggle(type='checkbox')
                ul.menu
                    li.menu__item
                        a(href="#").menu__link Home
                        ul.menu
                            li.menu__item1
                                a(href="#").menu__link Cloudy
                            li.menu__item1
                                a(href="#").menu__link Rainy
                            li.menu__item1
                                a(href="#").menu__link Sunny
                    li.menu__item
                        a(href="#").menu__link Features
                    li.menu__item
                        a(href="#").menu__link Reviews
                    li.menu__item
                        a(href="#").menu__link Download
 
                    nav.social
                            a(href='https://www.facebook.com')     
                            img.social_link(src='assets/img/icons/facebook.png')
                            a(href='https://www.instagram.com')
                            img.social_link(src='assets/img/icons/instagram.png')
                            a(href='https://www.instagram.com')
                            img.social_link(src='assets/img/icons/twitter.png')